.Header-navigation {
  color: white;
  background-color: black;
  height: 20px;
  padding: 20px;
}

.Header-navigation a {
  float: right;
  padding-left: 10px;
  text-decoration: none;
  color: white;
}

.Header-navigation span {
  float: left;
}

.App-Window {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(133, 199, 216, 0.637);
}

.components-body {
  display: grid;
  height: auto;
  margin-top: 50px;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 25px;
}
.statement {
  font-size: 18pt;
  grid-column: 4 / span 8;
  grid-row-start: 1; 
  font-weight: bold;
}
.next {
  font-size: 18pt;
  justify-self: center;
  grid-row-start: 4; 
  grid-column: 7;
}
.back {
  font-size: 18pt;
  justify-self: center;
  grid-row-start: 4; 
  grid-column: 5;
}
.p1 {
  font-size: 14pt;
  grid-column: 6 / span 3;
  grid-row: 3;
}
.options-container {
  display: grid;
  font-size: 18pt;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1 / span 12;
  grid-row-start: 2;
  grid-gap: 25px;
}
.laptop-option {
  grid-column: 4 / span 3;
  grid-row: 2;
}
.two-options img {
  clip-path: circle(40% at 50% 50%);
}
.four-options img {
  clip-path: circle(30% at 50% 50%);
}
.pc-option {
  font-size: 18pt;
  grid-column: 8 / span 3;
  grid-row: 2;
}

.prebuilt-option {
  grid-column: 4 / span 3;
  grid-row: 2;
}
.buildown-option {
  font-size: 18pt;
  grid-column: 8 / span 3;
  grid-row: 2;
}
.gaming-option {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.gaming-text {
  position: relative;
  left: 10px;
  font-size: 18pt;
  grid-column: 2 / span 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}
.design-option {
  font-size: 18pt;
  grid-column: 4 / span 2;
  grid-row: 1;
}

.schoolwork-option {
  font-size: 18pt;
  grid-column: 7 / span 2;
  grid-row: 1;
}
.leisure-option {
  font-size: 18pt;
  grid-column: 10 / span 2;
  grid-row: 1;
}

.screen-option {
  font-size: 18pt;
  grid-column: 8 / span 2;
  grid-row: 1;
}
.speed-option {
  font-size: 18pt;
  grid-column: 6 / span 2;
  grid-row: 1;
}
.storage-option {
  font-size: 18pt;
  grid-column: 4 / span 2;
  grid-row: 1;
}
.battery-option {
  font-size: 18pt;
  grid-column: 4 / span 2;
  grid-row: 2;
}

.weight-option {
  font-size: 18pt;
  grid-column: 6 / span 2;
  grid-row: 2;
}
.ram-option {
  font-size: 18pt;
  grid-column: 8 / span 2;
  grid-row: 2;
}
.monitor-option {
  font-size: 18pt;
  grid-column: 4 / span 2;
  grid-row: 3;
}

.os-option {
  font-size: 18pt;
  grid-column: 6 / span 2;
  grid-row: 3;
}

.processor-option {
  font-size: 18pt;
  grid-column: 8 / span 2;
  grid-row: 3;
}